.text{
    color: #333;
    font-family: Cabin Sketch;
    font-size: 100px;
    font-style: normal;
    letter-spacing: 4.804px;
    padding-top: 25px;
}

.red{
    color: #CF3031;
    font-family: SF Pro Display;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

img{
    width: 664px;
    height: 664px;
    flex-shrink: 0;
     
}

.tomato_pic{
    width: 170px;
    height: 135px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 400px;
}

button{

}

.buttontext{
    font-size: 12px;
}

.chilli{
    width: 176px;
    height: 153px;
    transform: rotate(-74.349deg);
    flex-shrink: 0;
}